<div class="row marketing">
  <h4>Notes</h4>
  <p>
    This is a sample Angular store to demonstrate JavaScript programming and TDD.
  </p>
  <p>
    Please refer to the README.md for more details.
  </p>
</div>

<div ng-repeat="bill in bills">
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="40%">Customer</th>
        <th width="30%">Created</th>
        <th width="30%">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{bill.user.name}}</td>
        <td>{{bill.user.created | date:short}}</td>
        <td>{{bill.user.type}}</td>
      </tr>
      <tr>
        <th>Items</th>
        <th>Price</th>
        <th>&nbsp;</th>
      </tr>
      <tr ng-repeat="item in bill.items">        
          <td>{{item.name}}</td>
          <td>{{item.price/100 | currency}}</td>
          <td>{{item.type}}</td>
      </tr>
      <tr>
        <td><em>Total Amount</em></td>
        <td colspan="2">{{bill.totalAmount/100 | currency}}</td>
      </tr>
      <tr>
        <td><em>Discount</em></td>
        <td colspan="2">{{bill.discountAmount/100 | currency}}</td>
      </tr>
      <tr>
        <th><em>Net Payable</em></th>
        <th colspan="2">{{bill.payableAmount/100 | currency}}</th>
      </tr>
    </tbody>
  </table>
  <hr/>
</div>